.pricing_section_wrapper {
  position: relative;
  margin-top: 40px;
  z-index: 2;
}

.pricing_bottom_section {
  text-align: center;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 20px;
  color: gray;
}

.pricing_bottom_section_padding_top {
  padding-top: 40px;
}

.pricing_bottom_section_esterik_color {
  color: red
}

