@use "stylesheet/scss/_variables.scss" as vars;
@import "stylesheet/scss/_mixins.scss";

.tools_listing_section_wrapper {
  position: relative;
  z-index: 2;
  .tool_card {
    padding: 24px;
    background-color: vars.$white;
    box-shadow: 0px 10px 20px vars.$card_box_shadow_color;

    .tool_card_icon {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: vars.$dim_blue;
      box-shadow: 0px 3px 6px vars.$icon_box_shadow_color;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin-bottom: 8px;
    }

    h2 {
      margin-bottom: 5px !important;
    }

    p {
      @include font-size-variant("medium");
    }
  }
}
