@use "stylesheet/scss/variables.scss" as vars;
@import "stylesheet/scss/mixins.scss";

.wrapper {
  min-height: 768px;
  background-color: vars.$secondary_color;

  .content_container {
    padding: 58px 0 96px 0;
    @include container();
  }

  .image_wrapper {
    position: relative;
    margin-top: 50px;
    margin-left: -50px;
    margin-right: -50px;
    width: 95%;
    height: 300px;
  }

  @media screen and (max-width: 768px) {
    .image_wrapper {
      width: 300px;
      margin-left: -25px;
      margin-right: -25px;
      height: 200px;
    }
  }
}
